@media only screen and (max-width: 960px) {
  .navbar {
    padding-top: 2rem;
    padding-bottom: 0;
  }
  .navbar .menu {
    background-color: #240046;
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
    position: absolute;
    top: 57px;
    transform: translateY(-120%);
    transition: all 0.4s;
    left: 0;
    width: 25vw;
    z-index: 100;
  }
  .navbar .menu-toggle {
    transform: translateY(0%);
  }
  .navbar .menu-bar {
    cursor: pointer;
    color: #eee;
    display: block;
    font-size: 2em;
    margin-right: 3rem;
    text-align: right;
  }
  /* MAIN SECCTION */
  .cont {
    flex-direction: column-reverse;
    height: 100vh;
    min-height: 100vh;
  }
  .cont .content-info:nth-child(1) {
    width: 90%;
  }
  /* ABOUT SECCTION */
  .about .about-content-img {
    display: none;
  }
  .about .about-content {
    margin: 4rem 0;
  }
  .about .about-content .about-info {
    width: 100%;
  }
  /* PRODUCTS SECCTION */
  .products .row {
    margin: 4rem 0;
    flex-direction: column;
  }
  .about h2,
  .products h2 {
    margin-top: 4rem;
  }
  .products .row .row-con {
    width: 40%;
  }
  .products .row .container-products {
    margin-bottom: 2rem;
  }
  /* SUPOORT SECCTION */
  .support .support-cont .support-info {
    width: 100%;
  }
  .support .support-cont .support-img {
    display: none;
  }
  /* BANNER SECCTION */
  .banner .banner-cont {
    flex-direction: column-reverse;
  }
  .banner .banner-cont .rating {
    display: none;
  }
  .banner .banner-cont .banner-center {
    width: 100%;
    margin-top: 2rem;
  }
  .banner .banner-cont .banner-center img {
    height: auto;
    min-width: 30%;
    width: 30%;
  }
  .banner .banner-cont .secundary-info {
    width: 80%;
  }
}
