@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.desaparece {
  color: transparent;
}
.hero {
  background-image: url("/img/vectores/vector-1.png");
  background-size: cover;
  height: auto;
  max-width: 114rem;
  margin: 0 auto;
}
.navbar {
  padding: 2rem 0;
  text-align: center;
}
.navbar .menu {
  align-items: center;
  display: flex;
  justify-content: center;
}
.navbar .menu li {
  padding: 0 1.2rem;
}
.navbar .menu li:nth-child(1) img {
  height: 60px;
  width: 60px;
}
.navbar .menu li {
  list-style: none;
}
.navbar .menu li a {
  color: #eee;
  font-weight: 300;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.navbar .menu li a:hover {
  color: #ca4172;
}
.navbar .brand {
  color: #001219;
}
.navbar .menu-bar {
  display: none;
}
/* MAIN SECCTION */
.cont {
  align-items: center;
  display: flex;
  height: 70vh;
  justify-content: space-evenly;
  min-height: 70vh;
  text-align: center;
}
.cont .content-info:nth-child(1) {
  color: #eee;
  width: 60%;
}
.cont .content-info:nth-child(2) {
  width: 40%;
}
.cont .content-info img {
  height: auto;
  width: 75%;
}
.cont .content-info h1 {
  font-weight: 500;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}
.cont .content-info h3 {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 0.34rem;
  padding: 1rem 0;
}
.cont .parrafo-content {
  min-width: 40%;
  padding: 2% 5%;
  width: auto;
}
.cont .parrafo-content p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
}
.cont .content-info .button-content {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.btn-toBuy,
.read-more {
  box-shadow: 0px 3px 14px -8px rgba(0, 0, 0, 0.78);
  background-color: #ca4172;
  border-radius: 2rem;
  color: #eee;
  font-size: 1.2rem;
  outline: none !important;
  padding: 0.8rem 3rem;
}
.cont .content-info .button-content .btn-toBuy {
  border: 0.1px solid transparent;
  cursor: pointer;
  margin: 0 1rem;
  transition: all 0.3s;
}
.cont .content-info .button-content .read-more {
  border: 1px solid #eee;
  background: none;
  cursor: pointer;
  margin: 0 1rem;
  transition: all 0.3s;
}
.support .support-cont .support-info button:hover,
.cont .content-info .button-content .read-more:hover,
.cont .content-info .button-content .btn-toBuy:hover,
.about .about-content .about-info button:hover,
.banner .banner-cont .secundary-info button:hover {
  border: 1px solid #eee;
  background-color: #240046;
  color: #ca4172;
}
/* ABOUT SECCTION */
.about h2,
.products h2 {
  color: #333533;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 6rem;
  text-align: center;
}
.about .divider,
.products .divider {
  background-color: #ca4172;
  border-radius: 1rem;
  border: none;
  height: 0.3rem;
  margin: 1rem auto;
  width: 10%;
}
.about .about-content {
  align-items: center;
  box-shadow: 0px 3px 14px -8px rgba(0, 0, 0, 0.78);
  background: #eee;
  color: #eee;
  display: flex;
  margin: 6rem 0;
}
.about .about-content .about-info {
  background-color: #240046;
  height: -webkit-fill-available;
  padding: 4rem;
  width: 50%;
}
.about .about-content-img {
  display: flex;
  height: -webkit-fill-available;
  justify-content: center;
  width: 50%;
}
.about .about-content .about-content-img img {
  height: 360px;
  min-height: 360px;
  min-width: 60%;
  width: 60%;
}
.about .about-content .about-info h3 {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-transform: uppercase;
}
.about .about-content .about-info p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem 0px;
  line-height: 1.8;
}
.about .about-content .about-info button {
  border: none;
  border: 0.1px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}
/* PRODUCTS SECCTION */
.products .row {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 7rem 0;
  text-align: center;
}
.products .row .row-con {
  width: 25%;
}
.products .row .container-products {
  background-color: #240046;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: #eee;
  padding: 2rem 0;
}
.products .row .container-products .img-fluid {
  height: auto;
  margin-bottom: 1rem;
  width: 50%;
}
.products .row .container-products .starts,
.products .row .container-products h4,
.products .row .container-products h3 {
  display: inline;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0.7rem 0;
}
.products .row .content-preci {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.products .row .content-preci h3:nth-child(1) {
  font-weight: 400;
  font-size: 1rem;
  text-decoration: line-through;
}
.products .row .content-preci h3:nth-child(2) {
  background-color: #ca4172;
  border: solid 0.1px #000;
  color: #eee;
  font-size: 1rem;
  padding: 0.1em 0.2rem;
}
.products .row .container-products button {
  background-color: transparent;
  border: none;
  color: #eee;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0.1em 0.3em;
  transition: all 0.3s;
}
.products .row .container-products button:hover {
  color: #ca4172;
}
.products .row .container-products button:focus {
  outline: none;
}
/* SUPOORT SECCTION */
.support {
  color: #eee;
  margin-top: 8rem;
}
.support .support-cont {
  align-items: center;
  background: #eee;
  box-shadow: 0px 3px 14px -8px rgba(0, 0, 0, 0.78);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 7rem;
}
.support .support-cont .support-info {
  background-color: #240046;
  height: -webkit-fill-available;
  padding: 3.3rem 4rem;
  width: 50%;
}
.support .support-cont .support-img {
  height: -webkit-fill-available;
  text-align: center;
  width: 50%;
}
.support .support-cont .support-img img {
  height: 330px;
  min-height: 330px;
  width: 35%;
  min-width: 35%;
}
.support .support-cont .support-info h2 {
  font-size: 3em;
  font-weight: 300;
}
.support .support-cont .support-info button {
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
  margin: 2rem 0;
}
/* BANNER SECCTION */
.banner {
  margin: 7rem 0;
}
.banner .banner-cont {
  align-items: center;
  box-shadow: 0px 3px 14px -8px rgba(0, 0, 0, 0.78);
  background: #eee;
  color: #333533;
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
}
.banner .banner-cont .rating {
  text-align: center;
  width: 25%;
}
.banner .banner-cont .rating img {
  height: auto;
  width: 20%;
}
.banner .banner-cont .banner-center {
  background-color: #240046;
  padding: 2.2rem 0;
  text-align: center;
  width: 30%;
}
.banner .banner-cont .rating h2 {
  font-size: 3em;
}
.banner .banner-cont .banner-center img {
  height: 300px;
  min-height: 300px;
  min-width: 50%;
  width: 50%;
}
.banner .banner-cont .secundary-info {
  padding: 1.5rem 0;
  width: 30%;
}
.banner .banner-cont .secundary-info h2:nth-child(1) {
  font-weight: bold;
  font-size: 2.4rem;
  margin: 1rem 0;
}
.banner .banner-cont .secundary-info h2:nth-child(2) {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem 0;
}
.banner .banner-cont .secundary-info p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 1.6;
}
.banner .banner-cont .secundary-info button {
  border: none;
  border: solid 1px transparent;
  cursor: pointer;
  transition: all 0.3s;
}
/* FOOTER */
.footer {
  align-items: center;
  background-color: #240046;
  color: #eee;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  width: 100%;
}
.footer .social-nerword {
  cursor: pointer;
  font-size: 1.8em;
}
.footer .social-nerword .fab {
  margin: 5px;
}
.footer .social-nerword .fab:hover {
  color: #ca4172;
}
